jupyter-book
matplotlib
numpy
ipywidgets as widgets
IPython.display
Image
interact, interact_manual
plotly
plotly.express as px 
plotly.graph_objects as go
dash
dash_core_components as dcc
dash_html_components as html
seaborn as sns
pandas as pd
stardog
json
io
os
